flows.json
[
    {
        "id": "289db066f9280154",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f20b5357d955d9b3",
        "type": "group",
        "z": "289db066f9280154",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "33de57ef5eb6ff24",
            "46401ac0834d0344",
            "51f9b6f9fbf0abdd",
            "22d5fc987e720e52",
            "0c06e87752b11223",
            "1201de277fbab75f",
            "043a50d2d8eb7302",
            "124ecbdca60c0da1"
        ],
        "x": 14,
        "y": 19,
        "w": 712,
        "h": 382
    },
    {
        "id": "da53cb388ff87dbd",
        "type": "group",
        "z": "289db066f9280154",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bf9c0706d3fd515e",
            "56fe569f21bec7ea",
            "940ad970797c904c",
            "959ad45ba359f803",
            "c39528fb5c821b07",
            "0cbc00b44f47fc08",
            "b9be331c2d1ee782",
            "41c04128dba2ef13",
            "9fc0424b258cbccf",
            "5eec497bc0b241ed",
            "f8ce1fe8b24448b6"
        ],
        "x": 14,
        "y": 459,
        "w": 1012,
        "h": 322
    },
    {
        "id": "45f140f369b945fc",
        "type": "group",
        "z": "289db066f9280154",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b206d26b0a051aee",
            "7abc27116efd3803",
            "6457207b11394ac1",
            "4eedd953c25564eb",
            "1c4d77d4fb25db24",
            "c150abe3838a241b",
            "024bb8d513a8f81b",
            "eb1e38c5fe941503",
            "c9656820777c30b3"
        ],
        "x": 14,
        "y": 819,
        "w": 952,
        "h": 322
    },
    {
        "id": "33de57ef5eb6ff24",
        "type": "inject",
        "z": "289db066f9280154",
        "g": "f20b5357d955d9b3",
        "name": "Inject: FECHA",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "46401ac0834d0344"
            ]
        ]
    },
    {
        "id": "46401ac0834d0344",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "f20b5357d955d9b3",
        "name": "Salida: FECHA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "51f9b6f9fbf0abdd",
        "type": "inject",
        "z": "289db066f9280154",
        "g": "f20b5357d955d9b3",
        "name": "Inject: payload (text) y topic (número)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hola mundo! (en node-red)",
        "payloadType": "str",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "22d5fc987e720e52",
                "0c06e87752b11223",
                "1201de277fbab75f"
            ]
        ]
    },
    {
        "id": "22d5fc987e720e52",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "f20b5357d955d9b3",
        "name": "Salida: PAYLOAD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "0c06e87752b11223",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "f20b5357d955d9b3",
        "name": "Salida: TOPIC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "1201de277fbab75f",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "f20b5357d955d9b3",
        "name": "Salida: MSG completo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "043a50d2d8eb7302",
        "type": "comment",
        "z": "289db066f9280154",
        "g": "f20b5357d955d9b3",
        "name": "Flujo ENTRADA-SALIDA",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "124ecbdca60c0da1",
        "type": "comment",
        "z": "289db066f9280154",
        "g": "f20b5357d955d9b3",
        "name": "Se pueden \"apagar las salidas debug haciendo click sobre las cajas verdes",
        "info": "",
        "x": 440,
        "y": 360,
        "wires": []
    },
    {
        "id": "bf9c0706d3fd515e",
        "type": "inject",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "Inject: payload y topic (ambos texto)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "TOPIC DE PRUEBA",
        "payload": "PAYLOAD DE PRUEBA",
        "payloadType": "str",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "56fe569f21bec7ea",
                "940ad970797c904c",
                "959ad45ba359f803",
                "c39528fb5c821b07"
            ]
        ]
    },
    {
        "id": "56fe569f21bec7ea",
        "type": "change",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "Reemplaza el payload por otro valor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OTRO MENSAJE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "0cbc00b44f47fc08"
            ]
        ]
    },
    {
        "id": "940ad970797c904c",
        "type": "change",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "Cambia parte del payload (\"PRUEBA\" por \"TEST\")",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "PRUEBA",
                "fromt": "str",
                "to": "TEST",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "b9be331c2d1ee782"
            ]
        ]
    },
    {
        "id": "959ad45ba359f803",
        "type": "change",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "Elimina el payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 640,
        "wires": [
            [
                "41c04128dba2ef13"
            ]
        ]
    },
    {
        "id": "c39528fb5c821b07",
        "type": "change",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "Mueve el payload al topic (cortar y pegar)",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 680,
        "wires": [
            [
                "9fc0424b258cbccf"
            ]
        ]
    },
    {
        "id": "0cbc00b44f47fc08",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "SALIDA: establece",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 560,
        "wires": []
    },
    {
        "id": "b9be331c2d1ee782",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "SALIDA: cambia",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 600,
        "wires": []
    },
    {
        "id": "41c04128dba2ef13",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "SALIDA: elimina",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 640,
        "wires": []
    },
    {
        "id": "9fc0424b258cbccf",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "Salida: mueve",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 680,
        "wires": []
    },
    {
        "id": "5eec497bc0b241ed",
        "type": "comment",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "Se pueden \"apagar las salidas debug haciendo click sobre las cajas verdes",
        "info": "",
        "x": 680,
        "y": 740,
        "wires": []
    },
    {
        "id": "f8ce1fe8b24448b6",
        "type": "comment",
        "z": "289db066f9280154",
        "g": "da53cb388ff87dbd",
        "name": "Flujo: ENTRADA-CAMBIO-SALIDA",
        "info": "",
        "x": 180,
        "y": 500,
        "wires": []
    },
    {
        "id": "b206d26b0a051aee",
        "type": "inject",
        "z": "289db066f9280154",
        "g": "45f140f369b945fc",
        "name": "Inject: numero al azar (entre 0 y 0.99)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$random()",
        "payloadType": "jsonata",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "7abc27116efd3803",
                "4eedd953c25564eb"
            ]
        ]
    },
    {
        "id": "7abc27116efd3803",
        "type": "range",
        "z": "289db066f9280154",
        "g": "45f140f369b945fc",
        "minin": "0",
        "maxin": "0.99",
        "minout": "1",
        "maxout": "40",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Mapear rango: (0-0.99) A (1-40)",
        "x": 530,
        "y": 960,
        "wires": [
            [
                "1c4d77d4fb25db24"
            ]
        ]
    },
    {
        "id": "6457207b11394ac1",
        "type": "inject",
        "z": "289db066f9280154",
        "g": "45f140f369b945fc",
        "name": "Inject: numero al azar (entre 1 y 40)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$floor($random()*40)+1",
        "payloadType": "jsonata",
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "eb1e38c5fe941503"
            ]
        ]
    },
    {
        "id": "4eedd953c25564eb",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "45f140f369b945fc",
        "name": "Número: 0 - 0.99",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 920,
        "wires": []
    },
    {
        "id": "1c4d77d4fb25db24",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "45f140f369b945fc",
        "name": "Número: 1 - 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 960,
        "wires": []
    },
    {
        "id": "c150abe3838a241b",
        "type": "comment",
        "z": "289db066f9280154",
        "g": "45f140f369b945fc",
        "name": "Flujo: ENTRADA (usando función de expresion) - RANGO - SALIDA",
        "info": "",
        "x": 280,
        "y": 860,
        "wires": []
    },
    {
        "id": "024bb8d513a8f81b",
        "type": "comment",
        "z": "289db066f9280154",
        "g": "45f140f369b945fc",
        "name": "Se pueden \"apagar las salidas debug haciendo click sobre las cajas verdes",
        "info": "",
        "x": 640,
        "y": 1100,
        "wires": []
    },
    {
        "id": "eb1e38c5fe941503",
        "type": "debug",
        "z": "289db066f9280154",
        "g": "45f140f369b945fc",
        "name": "Número: 1 - 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c9656820777c30b3",
        "type": "comment",
        "z": "289db066f9280154",
        "g": "45f140f369b945fc",
        "name": "Es posible implementar una función más compleja para generar numeros en un rango específico",
        "info": "",
        "x": 370,
        "y": 1000,
        "wires": []
    },
    {
        "id": "6aba8bcadaeb856b",
        "type": "inject",
        "z": "289db066f9280154",
        "name": "Inject: numero al azar (entre 0 y 0.99)",
        "props": [
            {
                "p": "temperatura",
                "v": "$random()",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 1260,
        "wires": [
            [
                "80abcf797ac42c45"
            ]
        ]
    },
    {
        "id": "80abcf797ac42c45",
        "type": "range",
        "z": "289db066f9280154",
        "minin": "0",
        "maxin": "0.99",
        "minout": "1",
        "maxout": "40",
        "action": "scale",
        "round": true,
        "property": "temperatura",
        "name": "Mapear rango: (0-0.99) A (1-40)",
        "x": 190,
        "y": 1320,
        "wires": [
            [
                "509a2095abafb2f7"
            ]
        ]
    },
    {
        "id": "509a2095abafb2f7",
        "type": "switch",
        "z": "289db066f9280154",
        "name": "Revisar temperatura entrada",
        "property": "temperatura",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "25",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "20",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1320,
        "wires": [
            [
                "edd3d29dfb48771b"
            ],
            [
                "2ac2e284996ebc20"
            ]
        ]
    },
    {
        "id": "2ac2e284996ebc20",
        "type": "change",
        "z": "289db066f9280154",
        "name": "Crear mensaje de alarma",
        "rules": [
            {
                "t": "set",
                "p": "temperatura",
                "pt": "msg",
                "to": "\"ALARMA!! Temperatura = \"  &temperatura",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 1380,
        "wires": [
            [
                "de5e0c08462926b6"
            ]
        ]
    },
    {
        "id": "de5e0c08462926b6",
        "type": "debug",
        "z": "289db066f9280154",
        "name": "SALIDA ALARMA (payload > 25)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temperatura",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1440,
        "wires": []
    },
    {
        "id": "edd3d29dfb48771b",
        "type": "debug",
        "z": "289db066f9280154",
        "name": "SALIDA temperatura actual",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temperatura",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1300,
        "wires": []
    }
]